<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>
    <add name="DistritosConnectionString"
         connectionString="server=localhost; userid=root;database=PortugueseData"
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>